.container {
  height: 100%;
  background-image:url('/images/background-battle.png');
  background-repeat: round;
  padding: 0;
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

.player {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.pokemonPowers {
  display: flex;
  flex-direction: column;

}

.pokemonHealth{
  width: 100%;
}

